* {
  box-sizing: border-box;
  margin: 0;
}
main {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  color: #d9d9d9;
  background-color: #262626;
  height: 100vh;
}
header {
  text-align: center;
}
header > p {
  max-width: 350px;
}
.game-status {
  margin: 20px;
  background-color: #10a95b;
  display: flex;
  padding: 10px 50px;
  width: 350px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.languages {
  display: flex;
  max-width: 400px;
  flex-wrap: wrap;
  justify-content: center;
}
.languages > p {
  border-radius: 5px;
  margin: 1px;
  height: 35px;
  display: flex;
  padding: 10px;
  align-items: center;
}
.letters {
  margin-top: 30px;
  display: flex;
  gap: 3px;
}

.letters > span {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px 15px;
  border-bottom: 2px solid whitesmoke;
}

.keyboard {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 450px;
  gap: 5px;
}
.keyboard > button {
  border: none;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: yellow;
}
.newgame {
  width: 200px;
  height: 40px;
  font-size: 1.1rem;
  margin-top: 30px;
  background-color: lightseagreen;
  border: none;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}
.keyboard > button.chosen {
  background-color: lime;
}
.keyboard > button.wrong {
  background-color: red;
}
